@import "tailwindcss";

/* Custom fonts or styles can go here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap');

@theme {
  --font-serif: 'Dancing Script', cursive;
  --font-sans: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-image: radial-gradient(#ffe4e6 1px, transparent 1px);
  background-size: 30px 30px;
}

.bg-paper-pattern {
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 20px 20px;
}